<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="./log"/>
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
  <targets>
    <target
     name="consoleLog"
      xsi:type="Console"
      layout="${shortLayout}" />
    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/${date:format=yyyy-MM-dd}-short.log"
      layout="${commonLayout}" />
   <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/${date:format=yyyy-MM-dd}-full.log"
      layout="${detailedLayout}" />
    <target
      name="systemLog"
      xsi:type="EventLog"
      layout="${detailedLayout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fullLog" />   
    <logger name="*" minlevel="Info" writeTo="shortLog" />
    <logger name="*" minlevel="Info" writeTo="consoleLog" />
    <logger name="*" minlevel="Info" writeTo="systemLog"/>
  </rules>
</nlog>